
$pure_white: #fff;
$pure_black: #000;
$light_background: #fafafa;
$dark_background: #2f2d2e;
$primary_blue: #3a86ff;
$light_blue: #4bb5e2;
$lighter_blue: #67d8fd;
$primary_pink: #ff006e;
$light_pink: lighten($primary_pink, 35%);
$primary_red: #da251c;
$primary_orange: #fb5607;
$primary_yellow: #ffbe0b;
$primary_purple: #8338ec;

$title_color: $primary_purple;
$text_color: #0d1b2a;

$primary_button_gradient: linear-gradient(to top, $light_blue, #4481eb, $lighter_blue, #3f86ed);
$primary_button_box_shadow: 0 4px 15px 0 rgba(103, 215, 253, 0.7);